numpy
pandas
matplotlib
scipy
scikit-learn
scikit-image
rasterio
geopandas
fiona
shapely
pyproj
folium
pystac-client
planetary-computer
requests
tqdm
jupyter
jupyterlab
torch>=2.1
torchvision>=0.16
segmentation-models-pytorch
albumentations
terratorch
transformers
huggingface-hub
stackstac
odc-stac
